# Project Ignore
.project

# SparkComponent Ignore
SparkComponent/target
SparkComponent/.idea
SparkComponent/.classpath
SparkComponent/.settings
SparkComponent/SparkComponent.iml

# DataLoader Ignore
DataLoader/.idea
DataLoader/target
DataLoader/DataLoader.iml
DataLoader/.settings
DataLoader/.classpath
DataLoader/source.htm
DataLoader/bin

# PredictionComponent Ignore
PredictionComponent/.idea
PredictionComponent/target
PredictionComponent/PredictionComponent.iml
