# Project Ignore
.project
data
parsed_data
parsed_data_backup

# SparkComponent Ignore
SparkComponent/target
SparkComponent/.idea
SparkComponent/.classpath
SparkComponent/.settings
SparkComponent/source.htm
SparkComponent/SparkComponent.iml
SparkComponent/command-spark-submit.bat

# DataLoader Ignore
DataLoader/.idea
DataLoader/target
DataLoader/DataLoader.iml
